* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.quiz {
    display: block;
    text-align: center;
}

.start-btn, .score-btn {
    max-width: 150px;
}

.answer-list {
    align-items: center;
    list-style: none;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
}